body{
    background-color: rgb(56, 20, 90);
    margin-top: 200px;
}
.LinkBarder{
    background-color: beige;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}